.filterInput {
  height: 30px;
  padding-left: 10px;
  background-color: black;
  border: 1px solid #d3640f;
  border-radius: 10px;
  height: 30px;
  width: 200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.label {
  font-size: large;
}
